/*------Breakpoints------*/
$phoneMin: 320px;
$tabletMin: 600px;
$tabletMax: 768px;
$laptopMin: 992px;
$desktopMin: 1200px;
$desktopMax: 1440px;

/*------Sizes------*/
$smallS: 1rem;

/*------Colors-----*/
$mainC: #3f51b5;
$greyC: #edeae5;
